{{ $curLanguageName := .Site.Language.LanguageName }}
<header>
  <div class="header-main">
    <div class="header-brand">
      <div class="header-title">
        <a href="{{ .Site.LanguagePrefix }}/"
          >{{ or .Site.Params.headTitle .Site.Params.author.name }}</a
        >
      </div>
      <div class="header-subtitle">{{ .Site.Params.meta.description }}</div>
    </div>
    <div class="header-items">
      {{ range .Site.Menus.main }}
      <div class="header-item">
        <a href="{{ .URL }}">{{ .Name }}</a>
      </div>
      {{ end }}
      <div class="header-item">
        <a href="{{ "index.xml" | relLangURL }}" target="_blank">RSS</a>
      </div>
      <div class="header-item">
        <a href="#" id="theme-toggle" onclick="toggleTheme(); return false;">主题</a>
      </div>
    </div>
  </div>
</header>
<div class="row">
  {{ range .Site.Languages -}} {{ if ne .LanguageName $curLanguageName }}
  <div class="lang-switch col-xs-3 col-xs-offset-9">
    <a href="/{{ .Lang }}/">{{ .LanguageName }}</a>
  </div>
  {{ end }} {{ end }}
</div>
<div class="header-line"></div>
